<h1> People who have like this comment</h1>
<% @commentvote.each do |commentvote| %>
    <% @user = User.find(commentvote.user_id) %>
    <%= @user.first_name + " " + @user.last_name %><br>
<% end %>
<br>

<%= link_to 'All Post ', posts_path %>   |
<%= link_to 'Back to Post ', post_path(@comment.id) %>

