<% if @display_flag == 0 %>
<h1> You have already voted for this post</h1>
<% else %>
<h1> You cannot vote for your own post</h1>
<% end %>

<br>
<%= link_to 'All Post ', posts_path %>   |
<%= link_to 'Back to Post ', post_path(@post.id) %>
